**.env

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
**/env/
**/venv/
**/.venv/
ENV/
env.bak/
venv.bak/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore model files
*.h5        # TensorFlow/Keras models
*.pth       # PyTorch models
*.pkl       # Pickled models (e.g., scikit-learn)
*.joblib    # Joblib serialized models
*.model     # Any other model file extensions 


**/venv/
**/env/

**/__pycache__/
*.pkl